<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoliyaFinance"
        tools:targetApi="31">
        <activity
            android:name=".pages.Aset"
            android:exported="false" />
        <activity
            android:name=".pages.EditProfil"
            android:exported="false" />
        <activity
            android:name=".laporan.BebanOperasional"
            android:exported="false" />
        <activity
            android:name=".laporan.HutangPiutang"
            android:exported="false" />
        <activity
            android:name=".laporan.ArusKas"
            android:exported="false" />
        <activity
            android:name=".laporan.Periode"
            android:exported="false" />
        <activity
            android:name=".laporan.Neraca"
            android:exported="false" />
        <activity
            android:name=".laporan.PerubahanModal"
            android:exported="false" />
        <activity
            android:name=".laporan.LabaRugi"
            android:exported="false" />
        <activity
            android:name=".laporan.NeracaSaldo"
            android:exported="false" />
        <activity
            android:name=".laporan.BukuBesar"
            android:exported="false" />
        <activity
            android:name=".laporan.JurnalUmum"
            android:exported="false" />
        <activity
            android:name=".pages.DaftarAkun"
            android:exported="false" />
        <activity
            android:name=".pages.DetailTransaksi"
            android:exported="false" />
        <activity
            android:name=".pages.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.Register"
            android:exported="false" />
        <activity
            android:name=".pages.TambahTransaksi"
            android:exported="false" />
        <activity
            android:name=".navigation.Dashboard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".pages.Login"
            android:exported="false" />
    </application>

</manifest>